body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    background-color: #879AD4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
    body > div.background {
        background-image: url(../img/img.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-filter: blur(12px);
                filter: blur(12px);
        height: 100vh;
    }
    body > div.content {
    width: 1000px;
    display: inline-block;
    margin: 0 calc( (100% - 1000px) / 2);
    position: absolute;
    top: calc((100vh - 500px) / 2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    }
        body > div > div.left-side {
            display: inline-block;
            width: 40%;
            float: left;
            position: absolute;
            margin: 40px 0;
            top: 30px;
            bottom: 30px;
            background-image: url(../img/img.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 4px;
        }
            body > div > div.left-side > h1 {
                position: absolute;
                top: 20px;
                left: 20px;  
                right: 20px;  
                display: inline-block;   
                color: #fff;
            }
            body > div > div.left-side > footer {
                position: absolute;
                bottom: 20px;
                left: 20px;  
                right: 20px;  
                display: inline-block; 
                color: #fff;   
            }
                body > div > div.left-side > footer > a {
                    color: #fff;
                }
        body > div > div.rigt-side {
            display: inline-block;
            width: 60%;
            float: right;
            background-color: #fff;
            border-radius: 4px;
        }
            .rigt-side > a {
                float: right;
                display: inline-block;
                padding: 18px;
                color: #144DD8;
                text-decoration: none;
                -webkit-transition: 0.5s;
                transition: 0.5s;
            }
                .rigt-side > a:hover {
                    -webkit-transform: scale(1.2);
                            transform: scale(1.2);
                }
            .rigt-side > form {
                display: inline-block;
                width: 100%;
                padding: 0 40px;
            }
            .rigt-side > form > div {
                display: inline-block;
                width: 100%;
                margin-bottom: 40px;
            }
                .rigt-side > form > div > label {
                display: inline-block;
                width: 100%;
                margin-bottom: 10px;
                text-transform: uppercase;
                color: #CECECE;
                font-size: 14px;
                }
                .rigt-side > form > div > input {
                    display: inline-block;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #CCCCCC;
                    color: #333333;
                    font-size: 19px;
                    line-height: 25px;
                    outline: none;
                    -webkit-transition:  all .3s linear;
                    transition:  all .3s linear; 
                }
                .rigt-side > form > div > input:focus {
                    border: 1px solid #fff;
                    -webkit-animation: pulse 2s infinite;
                            animation: pulse 2s infinite;
                }

                .rigt-side > form > div > input::-webkit-input-placeholder {
                    font-size: 16px;
                  }

                .rigt-side > form > div > input:-ms-input-placeholder {
                    font-size: 16px;
                  }

                .rigt-side > form > div > input::-ms-input-placeholder {
                    font-size: 16px;
                  }

                .rigt-side > form > div > input::placeholder {
                    font-size: 16px;
                  }
        .btn {
            background-color: #144DD8;
            border-radius: 25px;
            padding: 9px 55px;
            margin-right: 15px;
            font-size: 17px;
            border: 1px solid #144DD8;
            display: inline-block;
            float: left;
            text-align: center;
            color: white;
            cursor: pointer;
            -webkit-transition: 0.8s;
            transition: 0.8s;
        }        
            .btn > a {
                text-decoration: none;
                color: #fff;
            }
            .btn:hover {
                -webkit-transform: scale(1.1);
                        transform: scale(1.1);
            }
        .extra-to-btn {
            display: inline-block;
            float: left;
            padding: 9px 5px;
        }
        .sign-in-btn {
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }
        .sign-in-btn:hover {
            -webkit-transform: scale(1.1);
                    transform: scale(1.1);
        }
        .preload * {
            transition: none !important;
            -webkit-transition: none !important;
            -moz-transition: none !important;
            -ms-transition: none !important;
            -o-transition: none !important;
          }
.media-hiden {
    display: none;
}
@media (max-width: 1005px){
    body > div.content {
        width: 700px;
        display: inline-block;
        margin: 0 calc( (100% - 700px) / 2);
        position: absolute;
        top: calc(( 100vh - 500px) / 2);
        }
}

@media (max-width: 710px){
    body > div.content {
        width: 500px;
        display: inline-block;
        margin: 0 calc( (100% - 500px) / 2);
        position: absolute;
        top: calc(( 100vh - 500px) / 2);
        }
        body > div > div.left-side {
            display: none;
        }
        body > div > div.rigt-side {
            display: inline-block;
            width: 100%;
            float: right;
            background-image: url(../img/img.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            color: #fff;
            font-size: 18px;
            -webkit-box-shadow: 1.5px 1.5px rgba(255,255,255, 0.3);
                    box-shadow: 1.5px 1.5px rgba(255,255,255, 0.3);
        }
            .rigt-side > a {
                color: #fff;
            }
        .rigt-side > form > div > label {
            color: #fff;
            }
        .media-hiden {
            display: block;
            margin: 0 0 25px 0;
        }
            .media-hiden > a {
                text-decoration: underline;
                font-size: 17px;
                padding: 5px 3px 15px 0;
                color: #fff;
            }
            .media-hiden > a:nth-child(1) {
                margin-left: 35px;
            }
        .media-hiden-h {
            width: 100%;
            display: inline-block;
            padding-left: 35px;
            margin: 2px 0 10px 0;
        }
}
@media (max-width: 550px){
    body > div.content {
        width: 100%;
        display: inline-block;
        margin: 0 0;
        position: absolute;
        top: calc(( 100vh - 600px) / 2);
        }
        .rigt-side > form > div > input:focus {
            -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,0.3) ;
                    box-shadow: 0 0 4px 1px rgba(0,0,0,0.3) ;
            outline: none;
        }
}
@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(20,77,216, 0.4);
              box-shadow: 0 0 0 0 rgba(20,77,216, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 4px rgba(20,77,216, 0.4);
                box-shadow: 0 0 0 4px rgba(20,77,216, 0.4);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(20,77,216, 0.4);
                box-shadow: 0 0 0 0 rgba(20,77,216, 0.4);
    }
  }
@keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(20,77,216, 0.4);
              box-shadow: 0 0 0 0 rgba(20,77,216, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 4px rgba(20,77,216, 0.4);
                box-shadow: 0 0 0 4px rgba(20,77,216, 0.4);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(20,77,216, 0.4);
                box-shadow: 0 0 0 0 rgba(20,77,216, 0.4);
    }
  }